/* ------- Barra de Navegacion ------- */
.navbar{
    padding: 1rem;
}

.btn-outline-primary {
    color: #1abc9c;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-primary{
    background-color: #1abc9c;
    border:none
}

.btn-primary:hover{
    background-color: #16a085;
}


/* ------- Seccion de introduccion ------- */
.custom-intro {
    background-color: #f4f9fd;
    padding: 100px 0;
}
.custom-intro h1 {
    color: #2c3e50;
    font-weight: bold; 
    margin-bottom: 20px;
}
.custom-intro p {
    color: #7f8c8d;
}
.custom-intro .btn-primary {
    background-color: #1abc9c;
}
.custom-intro .btn-primary:hover {
    background-color: #16a085;
}

.img-fluid{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* ------- Seccion de nosotro ------- */
#features{
    background-color: #f8f9fa;
    padding: 60px 0;
}

.feature-icon{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* ------- Seccion de caracteristica ------- */


/* ------- Seccion de testimonio ------- */


/* ------- Seccion de equipo ------- */


/* ------- Seccion de contact ------- */


/* ------- Seccion de foote ------- */


/* ------- Boton volver al principio ------- */


/* ------- Media queries ------- */

